# Настроечные файлы
# ==================

# Временные файлы Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Виртуальные окружения
venv/
.venv/
env/

# Логи и системные файлы
*.log
.DS_Store
Thumbs.db

# Настройки редакторов и IDE
.vscode/
.idea/

# Сборочные файлы PyInstaller
build/
dist/
*.spec

# Временные файлы Jupyter Notebook
.ipynb_checkpoints/

# Файлы проекта
# ==================

# Модели (слишком большие для репозитория)
app/models/

# Исходные данные
model-training/russian_aleut_dataset.csv

Aleut_Grammar.pdf

# Скриншоты
# app/screenshots/